<div class="flex flex-wrap" id="news-section">
  {% for news in news_list %}
  <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
    <img
      class="w-full"
      src="{{ news.get_main_image.image.url }}"
      alt="News image"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ news.title }}</div>
      <p class="text-gray-700 text-base">{{ news.content }}</p>
    </div>
    <div class="px-6 pt-4 pb-2">
      {% for tag in news.tags.all %}
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#{{ tag.name }}</span
      >
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
